*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	background: linear-gradient(rgb(167, 182, 237), rgb(92, 101, 138), rgb(16, 29, 39));
	background-repeat: no-repeat;
	background-size: 100% 100rem;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgb(255, 255, 255);
}

header {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	user-select: none;
	margin-bottom: 2rem;
}

header h1 {
	font-size: 3rem;
	word-spacing: -0.4rem;
}

img {
	display: block;
	height: 6rem;
	margin-right: -1rem;
}

#question-container {
	max-width: 45rem;
	background: rgba(41, 96, 205, 0.599);
	border-radius: 2rem;
	padding: 2rem;
	/* box-shadow: 0 0.5rem 0.2rem 0rem rgba(0, 0, 0, 0.52); */
	border: 2px solid rgba(15, 31, 126, 0.186);
}

#question {
	width: 100%;
	font-size: 2.5rem;
	line-height: 1;
	margin-bottom: 2rem;
}

#answers {
	list-style: none;
}

.answer button {
	color: inherit;
	margin-bottom: 1rem;
	font-size: 1.25rem;
	border: none;
	padding: 1rem 2rem;
	border-radius: 10rem;
	width: 100%;
	cursor: pointer;
	background-color: rgba(28, 86, 168, 0.842);
	border: 1px solid rgba(0, 0, 0, 0.086);
}
.answer button:hover {
	background-color: rgba(20, 67, 134, 0.842);
}
